.container{
    margin: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
  }

  .grid-container3{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
  }

  .grid-container4{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    //border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 14px;
    //width: 100%;
    // text-align: center;
  }

  .inputFile{
    background-color: red;
  }

  .modern-button {
    background-color: #4CAF50; /* Color de fondo del botón */
    border: none; /* Quitamos el borde predeterminado */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    text-decoration: none; /* Quitamos subrayado predeterminado */
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s; /* Duración de la transición */
    cursor: pointer;
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra */
  }
  
  .modern-button:hover {
    background-color: #45a049; /* Cambio de color al pasar el mouse */
  }
  

  button{
    padding: 9px;
    background-color: rgb(250, 253, 255);
    color: rgb(0, 0, 255);
    border: 1px solid rgb(63, 18, 255);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-size: 11px;
  }

  button:hover{
      background-color:rgb(20, 20, 187);
      color: rgb(250, 253, 255);
      transition: all 0.3s ease-in-out;
  }

  label > input[type="radio"] {
    display: none;
  }
  label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
  }
  label > input[type="radio"]:checked + * {
    color: rgba(10, 98, 186, 0.798);
  }
  label > input[type="radio"]:checked + *::before {
    background: radial-gradient(rgba(10, 98, 186, 0.798) 0%, rgba(10, 98, 186, 0.798) 40%, transparent 50%, transparent);
    border-color: rgba(10, 98, 186, 0.798);
  }
  
  label > input[type="radio"] + * {
    display: inline-block;
    padding: 0.5rem 1rem;
  }
