.custom-header{
    background-color: rgb(170, 205, 236)!important;
    color: white;
}

.p-button-eliminar{
    color: red;
}

.p-button-anular{
    color: orange;
}

.p-button-guardar{
    color: green;
}